# --------------------------------
# Frontend - Next.js
# --------------------------------
/node_modules/
/.next/
/out/
/build/
/.pnp
.pnp.js

# Local environment files
.env*.local
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel deployment
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Coverage reports
/coverage/

# --------------------------------
# Backend - Flask / Python
# --------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore SQLite DB
/server/instance/minibus.db

# Flask instance folder (keep folder, ignore contents)
server/instance/*
!server/instance/.gitignore

# Environment and virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller files
*.spec

# Build and packaging
build/
dist/
*.egg-info/
.eggs/
MANIFEST
*.egg
*.whl

# Test and coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDEs and tooling cache
.pytype/
.mypy_cache/
.pyre/
.ropeproject/
.spyderproject/
.dmypy.json
cython_debug/
.site/
.ipynb_checkpoints/
__pypackages__/
.pybuilder/
docs/_build/

# Package managers lock files
Pipfile.lock
poetry.toml
.pdm.toml
pdm.lock

# Celery files
celerybeat-schedule
celerybeat.pid

# Logs
*.log

# Local settings
local_settings.py
